//
// Base styles for all kind of buttons.
//

.button {
  box-sizing: border-box;
  font-size: $font-size;
  font-weight: $font-weight;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  line-height: $line-height;
  display: inline-block;
  box-shadow: none;
  padding: $padding-vertical $padding-horizontal;
  border: 1px solid transparent;
  border-radius: $border-radius;
  margin: 0;
  cursor: pointer;
  white-space: nowrap;
}
