//
// Any configuration goes here.
//

// Base values:

$font-size: 14px !default;
$font-weight: normal !default;
$line-height: 1.25 !default;

$text-color: #333 !default;
$background-color: white !default;

$border-color: #ddd !default;
$border: 1px solid $border-color;
$border-radius: 4px !default;

$padding-horizontal: 1em !default;
$padding-vertical: .5em !default;

$gradient-modifier: 10% !default;

$font-weight-primary: bold !default;

// Look and Feel.

$default-background: #ececec !default;
$default-text-color: $text-color;

$primary-background: #0066ff !default;
$primary-text-color: white;

$success-background: #009900 !default;
$success-text-color: $text-color;

$danger-background: #ff0000 !default;
$danger-text-color: $text-color;

$warning-background: #ff9900 !default;
$warning-text-color: $text-color;

// Sizes:

$font-size-small:          10px !default;
$padding-horizontal-small: 1em !default;
$padding-vertical-small:   .5em !default;

$font-size-large:          16px !default;
$padding-horizontal-large: 1em !default;
$padding-vertical-large:   .5em !default;

// Settings:

$gradients: true !default;
